extends ../layout 

block content
    h1 Create New Courses
    form(method="post", action="/courses/new")
        .form-group 
            label Course Id: 
            input.form-control(name="cid", type="number", placeholder='Course Unique ID')
        .form-group 
            label Subject: 
            input.form-control(name="subject", type="text", placeholder='Course Subject')
        .form-group 
            label Title: 
            input.form-control(name="title", type="text", placeholder='Title')
        .form-group 
            label Section: 
            input.form-control(name="section", type="text", placeholder="Section")
        input.btn.btn-outline-dark(type="submit", value="Submit")