extends ../layout 

block content
    h1 Register
    form(method="post", action="/users/register")
        .form-check.form-check-inline 
            input#inlineRadio1.form-check-input(type='radio' name='inlineRadioOptions' value='student')
            label.form-check-label(for='inlineRadio1') student 
        .form-check.form-check-inline 
            input#inlineRadio2.form-check-input(type='radio' name='inlineRadioOptions' value='professor')
            label.form-check-label(for='inlineRadio2') professor
        .form-group
            label Given Name: 
            input.form-control(name="given_name", type="text", placeholder='Given Name')
        .form-group
            label Surname: 
            input.form-control(name="surname", type="text", placeholder='Surname')
        .form-group
            label Email: 
            input.form-control(name="email", type="text", placeholder='email@example.com')
        .form-group
            label Password: 
            input.form-control(name="password", type="password", placeholder='Password')
        .form-group
            label Password Confirmation: 
            input.form-control(name="password_confirmation", type="password", placeholder='Comfirm Password')
        input.btn.btn-outline-dark(type="submit", value="Submit")